@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  background: #41729F;
  overflow: hidden;
}
::selection{
  background: rgba(26,188,156,0.3);
}
.container{
  max-width: 440px;
  padding: 0 20px;
  margin: 170px auto;
}
.wrapper{
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}
.wrapper .title{
  height: 90px;
  background: #274472;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form{
  padding: 30px 25px 25px 25px;
}
.wrapper form .row{
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}
.wrapper form .row input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}
form .row input:focus{
  border-color: #5885AF;
  box-shadow: inset 0px 0px 2px 2px rgba(15, 121, 207, 0.63);
}
form .row input::placeholder{
  color: #999;
}
.wrapper form .row i{
  position: absolute;
  width: 47px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  background: #274472;
  border: 1px solid #274472;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form .pass{
  margin: -8px 0 20px 0;
}
.wrapper form .pass a{
  color: #5885AF;
  font-size: 17px;
  text-decoration: none;
}
.wrapper form .pass a:hover{
  text-decoration: underline;
}
.wrapper form .button input{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: #274472;
  border: 1px solid #5885AF;
  cursor: pointer;
}
form .button input:hover{
  background: #5885AF;
}
.wrapper form .signup-link{
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
}
.wrapper form .signup-link a{
  color: #274472;
  text-decoration: none;
}
form .signup-link a:hover{
  text-decoration: underline;
}


.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container1 header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.container1 .form {
  margin-top: 30px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}
.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: 1px solid #5885AF;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(39, 68, 114);
}
.form .column .button input:hover{
  background: #5885AF;
}
.button .signup {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: 1px solid #5885AF;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(39, 68, 114);
} 
.button .return {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: 1px solid #5885AF;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(39, 68, 114);
}

.image{
            margin-left: 0px;
            margin-right: 1850px;
            margin-top: 0px;
            position: relative;
            bottom: 120px;
        }

 .a{
            position: relative;
            margin-top: 0px;
            margin-left: 0px;
            margin-right: 1200px;
            bottom: 150px;
        }

        .b{
            position: relative;
            margin-top: 0px;
            margin-left: 1200px;
            margin-right: 0px;
            bottom: 204px;
        }

        .c{
            position: relative;
            margin-top: 0px;
            margin-left: 0px;
            margin-right: 0px;
            bottom: 254px;
        }

        .d{
            position: relative;
            margin-top: 0px;
            margin-left: 1700px;
            margin-right: 0px;
            bottom: 430px;
            font-size: 15px;
        }
